<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>realsleep.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47AC255080B2CAE079C2E804B33B35EFAA12E257</string>
				<key>dateExpires</key>
				<string>4/29/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>armv7k</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47AC255080B2CAE079C2E804B33B35EFAA12E257</string>
						<key>dateExpires</key>
						<string>4/29/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>bitcode</key>
							<true/>
							<key>buildNumber</key>
							<string>3</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>47AC255080B2CAE079C2E804B33B35EFAA12E257</string>
								<key>dateExpires</key>
								<string>4/29/23</string>
								<key>type</key>
								<string>Cloud Managed Apple Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>SAZVPX4CAA.ar.realsleep.watchkitapp.watchkitextension</string>
								<key>beta-reports-active</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>SAZVPX4CAA</string>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>realsleep WatchKit Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>1d44a036-cf26-424f-a754-05e31c625cee</string>
								<key>dateExpires</key>
								<string>4/29/23</string>
								<key>name</key>
								<string>iOS Team Store Provisioning Profile: ar.realsleep.watchkitapp.watchkitextension</string>
							</dict>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>SAZVPX4CAA</string>
								<key>name</key>
								<string>Aravind Reddy Samala</string>
							</dict>
							<key>versionNumber</key>
							<string>1.0</string>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>SAZVPX4CAA.ar.realsleep.watchkitapp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>SAZVPX4CAA</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>realsleep WatchKit App.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>39168ab1-2326-4f7b-b6b8-269f5bb6356d</string>
						<key>dateExpires</key>
						<string>4/29/23</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: ar.realsleep.watchkitapp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SAZVPX4CAA</string>
						<key>name</key>
						<string>Aravind Reddy Samala</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SAZVPX4CAA.ar.realsleep</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.healthkit.background-delivery</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>SAZVPX4CAA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>realsleep.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6963ba5e-1677-4164-90d1-f8abb301853c</string>
				<key>dateExpires</key>
				<string>4/29/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: ar.realsleep</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SAZVPX4CAA</string>
				<key>name</key>
				<string>Aravind Reddy Samala</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
